[Unit]
Description=gpumond service
After=local-fs.target

[Service]
Type=simple
EnvironmentFile=/etc/sysconfig/gpumond
ExecStart=/usr/sbin/watchman.exe /usr/libexec/gpumond/gpumond-watchman.so ${USER} ${FILESYSTEM} ${DIRECTORY}/%H.gpumond.log ${ROTATE_SIZE_THRESHOLD}

[Install]
WantedBy=multi-user.target
